html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
}

a, a:visited
{
    text-decoration: none;
    color: rgb(40,40,40);
    border-radius: 4px;
}


.front-container {
    position: relative;
    top: -20%;
    display: flex;
    width: 100%;
    height: 40vw;
    align-items: center;
    justify-content: center;
}

.img-container {
    width: 100%;
    height: 80%;
}

.img-container img {
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    height: auto;
}

.front-text {
    position: relative;
    font-size: 11vw;
    width: 80%;
    left: 10%;
    right: 10%;
}

.red {
    color: rgb(211, 34, 34);
}

.bigger {
    font-size: 17vw;
}

.front-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 18%;
    top: 15%;
    left: 41%;
    right: 41%;
    border-radius: 1vw;
}

.front-button:hover {
    background-color: rgb(240,240,240);
}
