
html {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
    font-family: 'custom-font';
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.title_video{
    width: 100%;
    height: 100%;
    position: relative;
    /* max-width: 1920px; */
    object-fit: cover;
    transition: opacity 0.6s;
}



.video_box{
    display: flex;
    justify-content: center;
    position: relative;
    /* left: -25%; */
    height: 100%;
    width: 100%;
    align-self: center;
    /* overflow: hidden; */
}

.video_section{
    display: flex;
    /* justify-content: center; */
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
}

.title_arrow {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.6s;
}


.background_image {
    width: 100vw;
    position: relative;
    top: 38.5%;
    /* left: -5%;  */
    object-fit: cover;

}

.image_box {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50vh;
    /* width: 100vw; */
    align-self: center;
    opacity: 0.3;
    visibility: hidden;
    /* overflow: hidden; */  
}


@font-face {
    font-family: custom-font;
    src: url(../../www/3ds\ Light.otf);
}

.text_wall {
    /* font-family: 'custom-font'; */
    font-size:x-large;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: 2;
}

.text_box {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
}


.form_div_info {
    width: 25%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.form_div_message {
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

textarea {
    width: 100%;
    height: 12rem;
    resize: none;
    border: 1px solid #666;
    color: #2b2b2b;
    font-size: 14px;
    background-color: #eeeeee;
    font-family: "custom-font";
}

input {
    font-family: "custom-font";
}

button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    /* font-family: inherit; */
    font-family: "custom-font";
    appearance: none;
}


button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* padding: 0.5rem 1rem; */
    border-radius: 0.25rem;
    background-color: rgba(46, 55, 66, 0.9);
    color: white;
    font-size: 1rem;
    transition: background-color 0.2s;
}

button:hover, button:focus {
    outline: none;
    background-color: rgba(78, 94, 114, 1);
}

textarea:focus {
    outline: none;
}

.form_input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #141414;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.form_div label {
    display: block;
    width: 100%;
}


form {
    display: flex;
}

.content_section{
    position: relative;
    /* display: none; */

    z-index: 1;
}

.content {
    opacity: 0;
    transition: opacity 4s;
}


.start_menu {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
    transition: all 0.6s;
    
}

.center_x {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center_xy {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.menu_box {
    position: absolute;
    display: flex;
    object-position: center;
}

.button_box {
    margin: auto;
    margin-top: 100px;
    position: relative;
    width: 600px;
    height: 600px;
}

.button_row_play {
    display: flex;
    width: 100%;
    height: 400px
}

.button_row_volume {
    display: flex;
    width: 100%;
    height: 200px
}

.title_button {
    transition: all .5s ease-out; 
    cursor: grab;
    background: none;
}

.title_button:hover {
    transform: scale(1.2);
}

.play_button {
    margin: auto;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-image: url("../../www/play_button_grey.png");
}
.volume_button {
    margin: auto;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-image: url("../../www/volume_up.png");
}

.volume_button_muted {
    margin: auto;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-image: url("../../www/volume_down.png"); 
}

.form_title {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: rgb(48, 48, 48);
    font-size: 2rem;
}

.footer {
    /* background-color: #202020; */
    background-color: #ddd;
    box-shadow: inset 0 9px 25px -16px #e0e0e0;
    color: rgb(0, 0, 0);
    height: 400px;
    z-index: 3;
    position: relative;
}



@media screen and (max-width: 1000px) {
    .title_video{
        width: 100vw !important;
    }

    .video_box{
        left: 0% !important; 
        height: 50vh !important;
    }

    .text_wall {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .text_box {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .form_div_message {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .form_div_info {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .text_box {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }


}